
@{
    ViewBag.Title = "Complete Failure";
}
<br />
<h2>There was a problem marking that order as complete, please try again.</h2>

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
</div>