
@{
    ViewBag.Title = "Complete Success";
}
<br />
<h2>Successfully Marked Shipment as Complete</h2>

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
</div>