
@{
    ViewBag.Title = "Delete Error";
}

<h2>You cannot delete pallets that have cases already scanned.</h2>

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</div>