
@{
    ViewBag.Title = "Delete Error";
}

<h2>You cannot delete shipments that have pallets already scanned.</h2>

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
</div>